body{
padding:0;
margin:0;
background:black;
background-image:url(Cyber.jpeg);
background-repeat:no-repeat;
background-size:100% 2975px;
}
header{
position:fixed;
top:0;
width:100%;
left:227px;
margin:5px;
}
body video{
width:800px;
display:block;
border-radius:25px;
}
.Box{
width: 80%;
max-width: 800px;
margin:100px auto;
background:rgba(255,255,255,.6);
position:relative;
text-align:center;
border-radius:25px;
box-shadow: 0px 15px 20px rgba(0,0,0,.5);
display:block;
top:305px;
}
.Box, h1{
font-size:53px;
}
.Box, p{
font-size:25px;
}

@media only screen and (min-width:414px){
body{
padding:0;
margin:0;
background:black;
background-image:url(Cyber.jpeg);
background-repeat:no-repeat;
background-size:100% 100%;
background-attachment:fixed;
}
header{
position:fixed;
width:100%;
left:3px;
margin:5px;
}
body video{
width:400px;
height:200px;
display:block;
border-radius:25px;
}
.Box{
width: 80%;
max-width: 800px;
margin:100px auto;
background:rgba(255,255,255,.6);
position:relative;
text-align:center;
border-radius:25px;
box-shadow: 0px 15px 20px rgba(0,0,0,.5);
display:block;
top:110px;
}
.Box, h1{
font-size:25px;
}
.Box, p{
font-size:18px;
}
}

@media only screen and (min-width:896px){
body{
padding:0;
margin:0;
background:black;
background-image:url(Cyber.jpeg);
background-repeat:no-repeat;
background-size:100% 2975px;
}
header{
position:fixed;
top:0;
width:100%;
left:215px;
margin:5px;
}
body video{
width:450px;
height:250px;
display:block;
border-radius:25px;
}
.Box{
width: 80%;
max-width: 800px;
margin:100px auto;
background:rgba(255,255,255,.6);
position:relative;
text-align:center;
border-radius:25px;
box-shadow: 0px 15px 20px rgba(0,0,0,.5);
display:block;
top:160px;
}
.Box, h1{
font-size:45px;
}
.Box, p{
font-size:25px;
}
}

@media only screen and (min-width:900px){
body{
padding:0;
margin:0;
background:black;
background-image:url(Cyber.jpeg);
background-repeat:no-repeat;
background-size:100% 2975px;
}
header{
position:fixed;
top:0;
width:100%;
left:227px;
margin:5px;
}
body video{
width:800px;
height:400px;
display:block;
border-radius:25px;
}
.Box{
width: 80%;
max-width: 800px;
margin:100px auto;
background:rgba(255,255,255,.6);
position:relative;
text-align:center;
border-radius:25px;
box-shadow: 0px 15px 20px rgba(0,0,0,.5);
display:block;
top:305px;
}
.Box, h1{
font-size:53px;
}
.Box, p{
font-size:25px;
}
}

@media only screen and (min-width:360px){
body{
padding:0;
margin:0;
background:black;
background-image:url(Cyber.jpeg);
background-repeat:no-repeat;
background-size:100% 100%;
background-attachment:fixed;
}
header{
position:fixed;
width:100%;
left:3px;
margin:5px;
}
body video{
width:345px;
height:195px;
display:block;
border-radius:25px;
}
.Box{
width: 80%;
max-width: 800px;
margin:100px auto;
background:rgba(255,255,255,.6);
position:relative;
text-align:center;
border-radius:25px;
box-shadow: 0px 15px 20px rgba(0,0,0,.5);
display:block;
top:105px;
}
.Box, h1{
font-size:17.5px;
}
.Box, p{
font-size:16px;
}
}

@media only screen and (min-width:740px){
body{
padding:0;
margin:0;
background:black;
background-image:url(Cyber.jpeg);
background-repeat:no-repeat;
background-size:100% 2975px;
}
header{
position:fixed;
width:100%;
left:190px;
margin:5px;
}
body video{
width:360px;
height:200px;
display:block;
border-radius:25px;
}
.Box{
width: 80%;
max-width: 800px;
margin:100px auto;
background:rgba(255,255,255,.6);
position:relative;
text-align:center;
border-radius:25px;
box-shadow: 0px 15px 20px rgba(0,0,0,.5);
display:block;
top:110px;
}
.Box, h1{
font-size:40px;
}
.Box, p{
font-size:23px;
}
}